@import "fonts";
@import "colors";

.login-main-container {
  width: 100%;
  min-height: 1000px;
}

.bg-image {
  width: 100%;
  height: 1000px;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px);
  opacity: 0.6;
}
